html body {
    padding: 0;
    margin: 0;
}

header {
    background: #444;
    text-align: center;
  }
  header h1, p {
    font-family: "Open Sans", sans-serif;
    padding-top: 2em;
    padding-bottom: 1em;
  }


body {
  color: whitesmoke;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.images img {
  position: relative;
  width: 18rem;
  height: 12rem;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: 0.4s ease;
}

.images img:hover {
  cursor: pointer;
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.5);
  z-index: 99;
}
