html,
body {
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  margin: 0;
}

body {
  background: #222;
  color: whitesmoke;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  order: -1;
  flex-basis: 24rem;
  text-align: center;
  line-height: 3rem;
  padding-right: 5rem;
}

.images img {
  position: relative;
  width: 18rem;
  height: 12rem;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.4s ease;
}

.images img:hover {
  cursor: pointer;
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.5);
  z-index: 99;
}
